# QtCreator
*.autosave

*.qtcreator

# QtCreator local machine specific files for imported projects
*creator.user*

*__pycache__

.venv
__pycache__

tes.py
test.py

.env

debug*
response.json

test.png
image.png

todo*

output.txt