PySide6==6.11.1
curl_cffi==0.16.0
dotenv==0.9.9
google-genai==2.17.0
google-api-python-client==2.198.0
huggingface_hub==1.27.0
pillow==12.3.0
piper-tts==1.6.0
cohere==7.0.8
mistralai==2.9.2
openrouter==1.1.42
